*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
app/build/*
app/release/*
app/proguard-rules.pro
gradlew.bat
gradlew
gradle.properties
local.properties
settings.gradle
build.gradle
gradle/*